# build output
build
static
.svelte-kit
.netlify
.vercel

# dependencies
node_modules

# env
*.local
venv
python_scripts
urara
.env
lambdas/*/coverage

# logs
pnpm-debug.log*

# macOS-specific files
.DS_Store

# temp file
src/routes/**/+page.svelte.md
src/routes/**/+page.md
src/static

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
lambdas/media-upload-lambda/node_modules
lambdas/pdf-download-lambda/node_modules
src/routes/*/+page.server.js
